<a href="https://colab.research.google.com/github/luisfernandorios/Actividades_Aprendizaje-/blob/main/Semana_3_Actividad__1_A00453954.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Ciencia y analítica de datos (Gpo 10)**
###Tecnológico de Monterrey
###Prof titular: Jobish Vallikavungal Devassia 
###Prof tutor: Julio César Galindo López    

###Alumno: Luis Fernando Rios Piedra A00453954
###Alumno: David Eduardo Garcia Reyes A01086411

### **Semana 3**
###Módulo 3 - Conceptos de almacenamiento y recuperación de información
####**Selección y limpieza de los Datos en Python

# DATA WAREHOUSING
El almacenamiento de datos (“Data warehousing”) es el proceso mediante el cual se construye una base de datos gigante con información proveniente de muchas fuentes. Esto genera un desafío pues para lograr que una consulta sea provechosa y nos permita obtener la información necesaria para realizar determinados análisis, los datos tienen que ser normalizados independientemente de la fuente de donde provengan. El almacenamiento de datos usualmente se lleva a cabo creando un modelo que clasifica las dimensiones de los datos, una dimensión es una propiedad o característica de la entidad en la que está basada los datos. 



Existen dos conceptos para efectuar la normalización de datos, la más antigua con sus siglas en inglés es ETL, traduciendo significan extraer, transformar y cargar. En la etapa de transformación es donde se lleva a cabo el proceso de normalización, pero siguiendo este concepto al ser este un proceso intermedio para cada uno de los datos de entrada, se necesitan de una gran cantidad de recursos de procesamiento para trabajar con Big Data. Para resolver esta problemática es que aparece el concepto de ELT (extraer, cargar, transformar) que se caracteriza porque el usuario realiza la descarga de información en “bruto” y el proceso de normalización o transformación se realiza de manera virtual con herramientas y computadoras que se encuentran en la nube.

In [190]:
# Importando librerias de pandas y numpy
import pandas as pd
import numpy as np

In [191]:
# Definir variable input de tipo string con la dreccion del sitio donde se almacena la base de datos
input = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

In [192]:
# Se abre la base de datos y queda almacenada virtualmente en la variable df
df  = pd.read_csv(input)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [193]:
df.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,...,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,...,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,...,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [194]:
# Attribute Information:

# This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables: 
# X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit. 
# X2: Gender (1 = male; 2 = female). 
# X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others). 
# X4: Marital status (1 = married; 2 = single; 3 = others). 
# X5: Age (year). 
# X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above. 
# X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005. 
# X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

In [195]:
# Verificar si hay datos nulos o datos faltantes en el dataset
df.isnull().values.any()

True

In [196]:
# Verificar que columnas dentro del dataframe tienen datos nulos
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [197]:
# Definir la columna ID como el index de cada registro (fila)
df=df.set_index('ID')

In [198]:
# Se obtiene la suma de datos nulos en cada columna ordenados de menor a mayor
df.isnull().sum().sort_values()

X1      0
X2      1
X3      2
X4      2
X6      3
Y       3
X7      5
X23     5
X5      5
X8      7
X20     8
X18     8
X9      9
X19     9
X17    10
X22    11
X21    11
X12    11
X13    11
X14    13
X11    14
X15    15
X10    16
X16    17
dtype: int64

In [199]:
# It1:Se inicia la limpieza del dataset elimiminando una cantidad no significativa de registros 
# Se observa que X2,X3,X4 y Y contienen variables categóricas y que hay muy pocos registros con datos nulos comparado con el 
# total de registros que es de 30,000
dfIt1= df.dropna(axis=0,subset=["X2","X3","X4","Y",])

In [200]:
#Después de correr limpieza It1, se observa que en la columna "Y" ya no existen registros nulos pero aún hay otras columnas Xn
#con datos de entrada con datos nulos
dfIt1.isnull().sum().sort_values()

X1      0
X4      0
Y       0
X2      0
X3      0
X6      1
X23     2
X5      3
X7      3
X20     4
X18     4
X8      5
X19     5
X17     6
X22     7
X21     7
X12     7
X13     7
X9      7
X14     8
X15    10
X11    12
X16    12
X10    14
dtype: int64

In [201]:
#Suma total de filas con al menos 1 dato nulo después de limieza It1
suma1_col_It1=dfIt1.isnull().sum()
suma1_col_It1.sum()

124

In [202]:
dfIt1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29995 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      29995 non-null  int64
 1   X2      29995 non-null  float64
 2   X3      29995 non-null  float64
 3   X4      29995 non-null  float64
 4   X5      29992 non-null  float64
 5   X6      29994 non-null  float64
 6   X7      29992 non-null  float64
 7   X8      29990 non-null  float64
 8   X9      29988 non-null  float64
 9   X10     29981 non-null  float64
 10  X11     29983 non-null  float64
 11  X12     29988 non-null  float64
 12  X13     29988 non-null  float64
 13  X14     29987 non-null  float64
 14  X15     29985 non-null  float64
 15  X16     29983 non-null  float64
 16  X17     29989 non-null  float64
 17  X18     29991 non-null  float64
 18  X19     29990 non-null  float64
 19  X20     29991 non-null  float64
 20  X21     29988 non-null  float64
 21  X22     29988 non-null  float64
 22  X23     29993 non-null  float64
 23  Y       29995 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB

In [203]:
#Con la intención de no afectar la respuesta del modelo "Y" con suposiciones de imputación y tomando en cuenta que ya solo quedan 124 filas de
# un total de 29,995 es decir un 0.413% se decide eliminar todas las filas restantes con datos nulos

(100* (suma1_col_It1.sum()))/len(dfIt1)

0.4134022337056176

In [204]:
#Eliminando las 124 filas restantes con datos nulos
dfIT2=dfIt1.dropna(axis=0)

In [205]:
#Como resultado final se tienen 29,958 registros reportando información en cada una de las variables Xn y en la respuesta de 
#salida Yn
dfIT2.isnull().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [206]:
#Verifiar total de registros después de eliminar datos nulos
dfIT2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29958 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      29958 non-null  int64
 1   X2      29958 non-null  float64
 2   X3      29958 non-null  float64
 3   X4      29958 non-null  float64
 4   X5      29958 non-null  float64
 5   X6      29958 non-null  float64
 6   X7      29958 non-null  float64
 7   X8      29958 non-null  float64
 8   X9      29958 non-null  float64
 9   X10     29958 non-null  float64
 10  X11     29958 non-null  float64
 11  X12     29958 non-null  float64
 12  X13     29958 non-null  float64
 13  X14     29958 non-null  float64
 14  X15     29958 non-null  float64
 15  X16     29958 non-null  float64
 16  X17     29958 non-null  float64
 17  X18     29958 non-null  float64
 18  X19     29958 non-null  float64
 19  X20     29958 non-null  float64
 20  X21     29958 non-null  float64
 21  X22     29958 non-null  float64
 22  X23     29958 non-null  float64
 23  Y       29958 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB

In [207]:
#Se observa que X3 y X4 tiene mínimos o máximos fuera del rango descrito en la información del dataset. X3 muestra registros con < 0 y > 4 y X4 muestra registros < 0.
#Se hará un conteo de registros afectados para tomar decisión
dfIT2.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,-0.266807,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,1.132307,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [208]:
#X3 se observa que hay 311 registros que exceden el límite superior de 4 y hay 14 registros por debajo de límite inferior 1
#No es conveniente eliminar estos registros debido a la catidad, son 345.
dfIT2['X3'].value_counts()

2.0    14009
1.0    10572
3.0     4909
5.0      280
4.0      123
6.0       51
0.0       14
Name: X3, dtype: int64

In [209]:
#Se define una función para cambiar los valores fuera de rango de la dimension X3, si el valor es >4 se asigna el valor 4 y si el valor es < 1 se asigna el valor 1
def min_max_ed (value):
  if value>4:
    return 4
  elif value<1:
    return 1
  else:
    return value

In [210]:
#Se reliza el cambio de valores de la dimension X3 y actualización dentro del dataframe dfIT2
dfIT2['X3']=dfIT2['X3'].apply(min_max_ed)
dfIT2['X3'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2.0    14009
1.0    10586
3.0     4909
4.0      454
Name: X3, dtype: int64

In [211]:
#X4 se observa que hay 54 registros por debajo del límite inferior que es 1
#No es conveniente eliminar estos registros debido cantidad, son 54
dfIT2['X4'].value_counts()

2.0    15939
1.0    13643
3.0      322
0.0       54
Name: X4, dtype: int64

In [212]:
#Se define una función para cambiar los valores fuera de rango de la dimension X4, si el valor es < 1 se asigna el valor 1
def min_marr (value):
  if value<1:
    return 1
  else:
    return value

In [213]:
#Se reliza el cambio de valores de la dimensión X4 y actualización dentro del dataframe dfIT2
dfIT2['X4']=dfIT2['X4'].apply(min_marr)
dfIT2['X4'].value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2.0    15939
1.0    13697
3.0      322
Name: X4, dtype: int64

In [214]:
dfIT2['X6'].value_counts()

 0.0    14717
-1.0     5680
 1.0     3678
-2.0     2758
 2.0     2662
 3.0      322
 4.0       76
 5.0       26
 8.0       19
 6.0       11
 7.0        9
Name: X6, dtype: int64

In [215]:
#Definir función para corrger los valores dentro de las columnas X6-X11
def rv_hist (value):
  if value<1:
    return -1
  else:
    return value

In [216]:
#Aplicar la funcion de corrección dentro del dataframe
dfIT2['X6']=df['X6'].apply(rv_hist)
dfIT2['X7']=df['X7'].apply(rv_hist)
dfIT2['X8']=df['X8'].apply(rv_hist)
dfIT2['X9']=df['X9'].apply(rv_hist)
dfIT2['X10']=df['X10'].apply(rv_hist)
dfIT2['X11']=df['X11'].apply(rv_hist)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [217]:
#Verificar que la funcion rv_hist fue aplicada en las columnas X6-X11
dfIT2['X6'].value_counts()

-1.0    23155
 1.0     3678
 2.0     2662
 3.0      322
 4.0       76
 5.0       26
 8.0       19
 6.0       11
 7.0        9
Name: X6, dtype: int64

In [218]:
#Se verifican las correcciones dentro del dataframe dfIT2 de las dimensiones X3, X4 y X6-X11
dfIT2.describe()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,167555.900928,1.604012,1.840810,1.553542,35.483443,-0.416316,-0.532279,-0.555978,-0.624608,-0.680186,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,129737.299088,0.489070,0.743317,0.518304,9.214319,1.142539,1.146252,1.125108,1.066540,1.000431,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,10000.000000,1.000000,1.000000,1.000000,21.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,1000000.000000,2.000000,4.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [219]:
#Verificación final de la existencia de datos nulos dentro del dataset
dfIT2.isnull().values.any()

False

¿Qué datos considero mas importantes? ¿Por qué?

**R. La dimension de salida "Y" es la más importante y sin conocer el coeficiente de contribución en el modelo de todas las variables de entrada Xn, todas tienen el mismo nivel de importancia ***

¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?

**R. En una primera iteración se eliminaron los registros (filas) que no contenian información en la dimension de salida "Y", debido a que se trataban únicamente de tres registros y no seria conveniente hacer suposiciones para rellenar esta columna con datos que no son reales. Posteriormente, en una seguinda interación se encontró que aún existía al menos 1 dato nulo entre las columnas X6 y X23, la suma total de datos nulos dentro de estas columnas ascendia a 124 que dentro de un universo de 29995 que representan menos 0.5% del total de registros/filas. En este caso, se considera más conveniente evitar el riesgo de genear ruido dentro del modelo con imputación de valores reemplazando los valores nulos así que en una segunda iteración de limpieza de datos nulos, se decide eliminar del dataset estos 124 registros. ***

**El siguiente paso dentro del análisis, es verificar que de acuerdo a la descripción e información proporcionada sobre el dataset que los valores de cada dato en las dimensiones Xn se encuentrén dentro del límites esperados. En este caso se pudo identificar que una cantidad considerable dentro de las dimensiones X3,X4 y X6-X11 existian registros datos fuera de los límites. Se definieron funciones para corregir dichos datos y cumplir con lo límites establecidos.***

¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?

**R. No es necesario manipular el dataframe para ordenar los datos ya que con la libreria de pandas contamos con métodos como sort_values() que nos permiten ordenar los datos "In place", de igual forma las librerias de matplotlib y seaborn nos permiten desplegar graficamente un análisis ordenado de los datos y tomar deciciones.  ***

¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.

**R. Este dataset ya fué normalizado por lo que se cuenta un documento que explica el significado de cada una de las dimensiones dentro del mismo y este documento guia también sirve para identificar datos que no cumplen con las características que fueron delimitadas. Dentro del dataset que aquí fue analizado se entontraron registros dentro de las columnas X3, X4 y X6-X11 se encontraron datos fuera de los límites por lo que se realizaron las correcciones pertinentes.  ***

¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?

**R.El primer paso fue identifiar cuales son las dimensiones más relevantes dentro del dataset, para el caso que nos ocupa se le dio prioridad a la columna con la dimension de salida "Y". El siguiente paso es fue cuantificar el universo de registros(filas) con datos nulos, la contribución de registros con datos nulos es menos a 0.5% por lo que se decidió eliminar estos registros. Finalmente, se hizo una verificación para comprobar que cada dimension cumple con los valores-límites establecidios y donde no era así (columnas X3,X4 y X6-X11) los valores fueron corregidos. Durante el análisis en esta última etapa, se encontró que los valores que estaban fuera de rango "giraban" alrededor del límite inferior establecido, por ejemplo había valores de -2 y 0 cuando el límite era -1. Para este caso se asumió que la intención era establecer dicho valores apuntando hacia el límite inferior -1 por lo que todos esos valores corregidos asignando un valor de -1.  ***

#Referencias
Kane, F. (2017). Hands-on data science and Python machine learning : perform data mining and machine learning efficiently using Python and Spark (pp. 261–264). Packt.

Renee M. P. Teate. (2021). SQL for Data Scientists : A Beginner’s Guide for Building Datasets for Analysis. Wiley.