<a href="https://colab.research.google.com/github/luisfernandorios/Actividades_Aprendizaje-/blob/main/Semana_3_Actividad__1_A00453954.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando librerias de pandas y numpy
import pandas as pd
import numpy as np

In [2]:
# Definir variable input de tipo string con la dreccion del sitio donde se almacena la base de datos
input = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"

In [3]:
# Se abre la base de datos y queda almacenada virtualmente en la variable df
df  = pd.read_csv(input)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [4]:
# Verificar si hay datos nulos o datos faltantes en el dataset
df.isnull().values.any()

True

In [5]:
# Verificar que columnas dentro del dataframe tienen datos nulos
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [6]:
# Definir la columna ID como el index de cada registro (fila)
df=df.set_index('ID')

In [7]:
# Se obtiene la suma de datos nulos en cada columna ordenados de menor a mayor
df.isnull().sum().sort_values()

X1      0
X2      1
X3      2
X4      2
X6      3
Y       3
X7      5
X23     5
X5      5
X8      7
X20     8
X18     8
X9      9
X19     9
X17    10
X22    11
X21    11
X12    11
X13    11
X14    13
X11    14
X15    15
X10    16
X16    17
dtype: int64

In [8]:
# It1:Se inicia la limpieza del dataset elimiminando una cantidad no significativa de registros 
# Se observa que X2,X3,X4 y Y contienen variables categóricas y que hay muy pocos registros con datos nulos comparado con el 
# total de registros que es de 30,000
dfIt1= df.dropna(axis=0,subset=["X2","X3","X4","Y",])

In [9]:
#Después de correr limpieza It1, se observa que en la columna "Y" ya no existen registros nulos pero aún hay otras columnas Xn
#con datos de entrada con datos nulos
dfIt1.isnull().sum()

X1      0
X2      0
X3      0
X4      0
X5      3
X6      1
X7      3
X8      5
X9      7
X10    14
X11    12
X12     7
X13     7
X14     8
X15    10
X16    12
X17     6
X18     4
X19     5
X20     4
X21     7
X22     7
X23     2
Y       0
dtype: int64

In [10]:
#Suma total de filas con al menos 1 dato nulo después de limieza It1
suma1_col_It1=dfIt1.isnull().sum()
suma1_col_It1.sum()

124

In [11]:
dfIt1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29995 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      29995 non-null  int64
 1   X2      29995 non-null  float64
 2   X3      29995 non-null  float64
 3   X4      29995 non-null  float64
 4   X5      29992 non-null  float64
 5   X6      29994 non-null  float64
 6   X7      29992 non-null  float64
 7   X8      29990 non-null  float64
 8   X9      29988 non-null  float64
 9   X10     29981 non-null  float64
 10  X11     29983 non-null  float64
 11  X12     29988 non-null  float64
 12  X13     29988 non-null  float64
 13  X14     29987 non-null  float64
 14  X15     29985 non-null  float64
 15  X16     29983 non-null  float64
 16  X17     29989 non-null  float64
 17  X18     29991 non-null  float64
 18  X19     29990 non-null  float64
 19  X20     29991 non-null  float64
 20  X21     29988 non-null  float64
 21  X22     29988 non-null  float64
 22  X23     29993 non-null  float64
 23  Y       29995 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB

In [12]:
#Con la intención de no afectar la respuesta del modelo "Y" con suposiciones haciendo llenado y tomando en cuenta que ya solo quedan 124 filas de
# un total de 29,995 es decir un 0.413% se decide eliminar todas las filas restantes con datos nulos

(100* (suma1_col_It1.sum()))/len(dfIt1)

0.4134022337056176

In [13]:
#Eliminando las 124 filas restantes con datos nulos
dfIT2=dfIt1.dropna(axis=0)

In [14]:
#Como resultado final se tienen 29,958 registros reportando información en cada una de las variables Xn y en la respuesta de 
#salida Yn
dfIT2.isnull().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [15]:
dfIT2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29958 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      29958 non-null  int64
 1   X2      29958 non-null  float64
 2   X3      29958 non-null  float64
 3   X4      29958 non-null  float64
 4   X5      29958 non-null  float64
 5   X6      29958 non-null  float64
 6   X7      29958 non-null  float64
 7   X8      29958 non-null  float64
 8   X9      29958 non-null  float64
 9   X10     29958 non-null  float64
 10  X11     29958 non-null  float64
 11  X12     29958 non-null  float64
 12  X13     29958 non-null  float64
 13  X14     29958 non-null  float64
 14  X15     29958 non-null  float64
 15  X16     29958 non-null  float64
 16  X17     29958 non-null  float64
 17  X18     29958 non-null  float64
 18  X19     29958 non-null  float64
 19  X20     29958 non-null  float64
 20  X21     29958 non-null  float64
 21  X22     29958 non-null  float64
 22  X23     29958 non-null  float64
 23  Y       29958 non-null  float64
dtypes: float64(23), int64(1)
memory usage: 5.7 MB